chapter12/nodered_updateSO.json
[{"id":"4e4fd490.b1b02c","type":"inject","name":"trigger","topic":"","payload":"21.0","payloadType":"string","repeat":"","crontab":"","once":false,"x":128,"y":69,"z":"5543a0bb.aabc6","wires":[["f365cbce.0c9a38"]]},{"id":"5fcd9e79.a0326","type":"debug","name":"","active":true,"console":"false","complete":"false","x":556,"y":158,"z":"5543a0bb.aabc6","wires":[]},{"id":"f365cbce.0c9a38","type":"function","name":"msg","func":"var soid = \"1422529731114c42b75793ac24c93925c3e65a599775d\";\nvar stream_name = \"temperature_sensor\";\n\nvar current_value = msg.payload;\n\n\tmsg.headers = {\n        'Content-Type' : 'application/json',\n        'authorization' : 'NDAwNmZjNWYtNTYxMS00YjVkLTllYzMtZTIxNTNhMzAwYjA0Njg5NjJjNDctMWUzNC00ZDY4LTgyZDItODkzMjVjNDI0YTli'\n\t}\n\t\n\t\n\tmsg.url = \"http://api.servioticy.com/\"+soid+\"/streams/\"+stream_name;\n\tmsg.method = \"PUT\";\n\t\n\tmsg.payload = '{\"channels\": {\"temperature\": {\"current-value\": \"'+current_value+'\"}},\"lastUpdate\": '+new Date().getTime()+'}';\n\t\n\t\nreturn msg;","outputs":1,"x":258,"y":140,"z":"5543a0bb.aabc6","wires":[["7312cb12.8ced34"]]},{"id":"7312cb12.8ced34","type":"http request","name":"","method":"GET","url":"","x":409,"y":83,"z":"5543a0bb.aabc6","wires":[["5fcd9e79.a0326"]]}]