chapter12/node-red-subscription-actuation.json
[{"id":"aa2e4115.55d1c","type":"mqtt-broker","broker":"api.servioticy.com","port":"1883","clientid":""},{"id":"ee82b772.117d48","type":"mqtt in","name":"subscription","topic":"NDAwNmZjNWYtNTYxMS00YjVkLTllYzMtZTIxNTNhMzAwYjA0Njg5NjJjNDctMWUzNC00ZDY4LTgyZDItODkzMjVjNDI0YTli/1422529731114c42b75793ac24c93925c3e65a599775d/streams/temperature_sensor/updates","broker":"aa2e4115.55d1c","x":80,"y":111,"z":"4fefe9ad.b01018","wires":[["1dd9e193.e2261e","6adc9cc6.952364"]]},{"id":"1dd9e193.e2261e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":247,"y":39,"z":"4fefe9ad.b01018","wires":[]},{"id":"6adc9cc6.952364","type":"function","name":"parse_and_check","func":"var obj = JSON.parse(msg.payload);\n\nconsole.log(obj);\nvar threshold = 20;\n\nvar temperature = obj.channels.temperature['current-value']\nconsole.log(temperature);\n\n//compare\nif (temperature < threshold) {\n //make POST request for the actuation:\n msg.headers = {\n        'Content-Type' : 'text/plain',\n        'authorization' : 'NLAwNmZjNWYtNTYxMS00YjVkLTllYzMtZTIxNTNhMzAwYjA0Njg5NjJjNDctMWUzNC00ZDY43TgyZDItOKkzMjVjNDI0YTli'\n\t}\n\t\n\t\n\tmsg.url = \"http://api.servioticy.com/1422529731114c42b75793ac24c93925c3e65a599775d/actuations/relay\";\n\tmsg.method = \"POST\";\n\t\n\tmsg.payload = '5';\n\t\n return msg;\n\n}","outputs":1,"x":275,"y":187,"z":"4fefe9ad.b01018","wires":[["1abe2c75.e541d4"]]},{"id":"1abe2c75.e541d4","type":"http request","name":"","method":"GET","url":"","x":461,"y":121,"z":"4fefe9ad.b01018","wires":[["8f0a646d.70f598"]]},{"id":"8f0a646d.70f598","type":"debug","name":"","active":true,"console":"false","complete":"false","x":622,"y":82,"z":"4fefe9ad.b01018","wires":[]}]